html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  min-width: 320px;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  padding: 0 1rem;
}

h1 span {
  font-size: 1.125rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: underline #3783a3;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.125rem;
}

nav li {
  padding: 0 0.5rem;
}

nav a {
  color: #3783a3;
  text-decoration: rgba(55, 131, 163, 0.4);
}

main img {
  margin-bottom: 1.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  border-top: #e2e2e2 solid .2rem;
  border-bottom: #e2e2e2 solid .2rem;
  margin: 1.5rem;
  padding: 1rem;
  text-align: center;
  text-size: 2rem;
  max-width: 30em;
}
.intro {
  margin: 0 auto;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 1rem;
}

section {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
}

article {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 0 1.5rem;
  font-size: 1.5rem;
}

h2 span {
  font-size: 1rem;
}

article p {
  margin: 0 0 1.5rem;
}

section a {
  border: 0.2rem solid rgba(55, 131, 163, 0.4);
  color: #3783a3;
  text-decoration: none;
  padding: 0.5em 1em 0.6em;
  margin-top: auto;
  border-radius: 0.3rem;
  width: 100%;
}

.characters {
  margin-bottom: 0px;
}

.english {
  margin-top: 0px;
}

footer {
  text-align: center;
}

@media only screen and (min-width: 608px) {

  .characters {
    text-align: left;
  }

  h1 {
    text-align: left;
  }

  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .bottom {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
